<!DOCTYPE html>
<meta charset="utf-8">
<style>

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

</style>
<body>
<h1>
FNDR - {{object}}
</h1>
<h2>
El estado en tu comuna
</h2>
<form>
  <label><input type="radio" name="mode" value="size"> Monto Inversión</label>
  <label><input type="radio" name="mode" value="count" checked> Cantidad de Proyectos</label>
</form>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
$(document).ready(function(){
	var width = 800,
    height = 600,
    radius = Math.min(width, height) / 2,
    color = d3.scale.category20c();

	var svg = d3.select("body").append("svg")
	    .attr("width", width)
	    .attr("height", height)
	  .append("g")
	    .attr("transform", "translate(" + width / 2 + "," + height * .52 + ")");

	var partition = d3.layout.partition()
	    .sort(null)
	    .size([2 * Math.PI, radius * radius])
	    .value(function(d) { return 1; });

	var arc = d3.svg.arc()
	    .startAngle(function(d) { return d.x; })
	    .endAngle(function(d) { return d.x + d.dx; })
	    .innerRadius(function(d) { return Math.sqrt(d.y); })
	    .outerRadius(function(d) { return Math.sqrt(d.y + d.dy); });

	d3.json("{% url comuna-detail pk=object.id %}", function(error, root) {
		console.log(root);
	  var path = svg.datum(root).selectAll("path")
	      .data(partition.nodes)
	    .enter()
	      .append("a")
	      .attr("xlink:href", function(d,i){return d.id==null? '#' : "/proyecto/" + d.id})  // this says "every time one of these circles is moused over, use this function
	      .append("path")
	      .attr("display", function(d) { return d.depth ? null : "none"; }) // hide inner ring
	      .attr("d", arc)
	      .style("stroke", "#fff")
	      .style("fill", function(d) { return color((d.children ? d : d.parent).name); })
            .append("svg:title")
              .text(function(d, i) { return d.name + (d.cost==null? '' : '\n$'+ d.cost)})
	      //.attr("title", function(d,i){ return d.name + (d.cost==null? '' : '\n$'+ d.cost)})
	      .style("fill-rule", "evenodd")
	      .each(stash);

	  d3.selectAll("input").on("change", function change() {
	    var value = this.value === "count"
	        ? function() { return 1; }
	        : function(d) { return d.cost; };

	    path
	        .data(partition.value(value).nodes)
	      .transition()
	        .duration(1500)
	        .attrTween("d", arcTween);
	  });
	});

	// Stash the old values for transition.
	function stash(d) {
	  d.x0 = d.x;
	  d.dx0 = d.dx;
	}

	// Interpolate the arcs in data space.
	function arcTween(a) {
	  var i = d3.interpolate({x: a.x0, dx: a.dx0}, a);
	  return function(t) {
	    var b = i(t);
	    a.x0 = b.x;
	    a.dx0 = b.dx;
	    return arc(b);
	  };
	}

	// this function will be run everytime we mouse over an element
	//var myMouseoverFunction = function() {
	// remember how d3 goes through EACH of the selected elements and uses your function for EACH element?
	// well, everytime the function is used for an element, it has a "secret" variable called 'this' which holds that element.
	// we use 'this' to increment the current element's radius by 10
	//var circle = d3.select(this);
	//circle.transition().duration(500)
	//.attr("r", circle.attr("r") * 1 + 10 );
	//}

	d3.select(self.frameElement).style("height", height + "px");

});

</script>
