{% extends "base.html" %}
{% block content %}

         <div class="container paginaCompleta">
                <div class="buscadorPpal">                
                <h3> <center>Revisa y comparte información de tu comuna y candidatos </center></h3>
                <center>
                    <form class="form-search form-search-comuna"> <p> Escribe el nombre de la comuna que te interesa</p>
                <input type="text" id="comunas-search" class="input-xxlarge search-query comunas-search"> 
                <p class="comuna-search-error">Debes seleccionar una comuna</p>
                <br/> <br/>
                <p> <em> Hazle pregúntas a los candidatos | Elige a tu media naranja | Fiscaliza 
                </em></p> 
                </form>
                 </center>       
       </div>
        </div>
{% endblock content %}