<h1>{{ object.nombre }}</h1>


<h3>
<div style = "float:left; margin-left:30px; width:400px;">
<p>Costo: ${{ object.costo }}</p>
<p>Etapa: {{ object.etapa }}</p>
<p>Código: {{ object.codigo }}</p> 
<p>Tipo: {{ object.tipo }}</p> 
<p>Etapa: {{ object.descripcion_etapa }}</p> 
<p>Año: {{ object.ano }}</p> 
<p>Comuna: {{ object.comuna }}</p> 
<p>Ubicación: {{ object.ubicacion }}</p> 
<p>Subsector: {{ object.subsector.nombre }}</p> 
<p>Costo: {{ object.costo }}</p>
</div> 
<!--<p>Institución: {{ object.institucion }}</p> 
<p>Descripción Etapa: {{ object.descripcion_etapa }}</p> 
<p>Situación: {{ object.situacion }}</p> 
<p>Magnitud: {{ object.magnitud }}</p> 
<p>Valor Magnitud: {{ object.valor_magnitud }}</p> 
<p>Vida Útil: {{ object.vida_util }}</p> 
<p>Número de Beneficiarios: {{ object.beneficiarios }}</p>-->
</h3>


<div style = "margin-left: 500px">
<div>
	<img src="{{ STATIC_URL }}images/2382c416cdcb98386e84a9fdd173c185_resized.jpg"/>
</div>

<div style="margin-top:40px;">
<label for="comentarios">Comenta sobre este proyecto</label>
<br>
<textarea name="comentarios" rows="7" cols="50"></textarea>
<br>
<button>Enviar</button>
</div>
</div>
